@import "../../styles/styles.scss";

.education{
    padding: 48px 0px;
    width: 100%;
    background: $white;
    position: relative;
    .title{
      text-align: center;
      color: $black;
      .purple-box{
        height: 7px;
        width: 90px;
        background: $purple;
        left: 626px;
        top: 110px;
        margin: 0 auto;
      }
      }
      .content{
        width: 100%;
        padding: 0 150px;
        // h6{
        //   font-weight: 700;
        //   font-size: 20px;
        //   letter-spacing: 1.5px;
        //   margin: 0;
        // }
        h5{
          text-transform: uppercase;
        }
        p{
          font-size: 1rem;
          line-height: 2rem;
          font-weight: 300;
          margin: 40px 0 72px;
        }
      }
  }

  @media screen and (max-width:996px){
    .education{
      padding: 60px 0px;
      .title{
        .purple-box{
          height: 7px;
          width: 70px;
          margin: 0 auto;
        }
        }
        .content{
          width: 100%;
          padding: 0 150px;
          p{
            font-size: 0.75rem;
            line-height: 1.75rem;
            font-weight: 300;
            margin: 40px 0 72px;
          }
        }
    }
  }

  @media screen and (max-width:768px){
    .education{
      padding: 125px 0px;
      //min-height: 400px;
      .title{
        h1{
          font-size: 2rem;
        }
        .purple-box{
          height: 7px;
          width: 70px;
          // left: 626px;
          // top: 110px;
          margin: 0 auto;
        }
        }
        .content{
          width: 100%;
          padding: 0 150px;
          h5{
            font-size: 0.75rem;
          }
          p{
            font-size: 0.75rem;
            line-height: 1.5rem;
            font-weight: 300;
            margin: 40px 0 72px;
          }
        }
    }
  }

  @media screen and (max-width:512px){
    .education{
      padding: 125px 0px;
      //min-height: 400px;
      .title{
        h1{
          font-size: 1.75rem;
        }
        .purple-box{
          height: 7px;
          width: 70px;
          // left: 626px;
          // top: 110px;
          margin: 0 auto;
        }
        }
        .content{
          width: 100%;
          padding: 0 150px;
          h5{
            font-size: 0.5rem;
          }
          p{
            font-size: 0.5rem;
            line-height: 1rem;
            font-weight: 300;
            margin: 40px 0 72px;
          }
        }
    }
  }