@import "../../styles/styles.scss";

.skills{
    padding: 80px 0px;
    width: 100%;
    background: $white;
    min-height: 1000px;
    position: relative;
    .title{
      text-align: center;
      color: $black;
      .purple-box{
        height: 7px;
        width: 50px;
        background: $purple;
        margin: 0 auto;
      }
      }
      .images-left{
        height: 380px;
        width: 600px;
        left: 200px;
        top:190px;
        position: absolute;
        .box-right{
        height: 230px;
        width: 500px;
        left: 355px;
        top: 45px;
        border-radius: 20px;
        border: 2px solid #8560a8;
        position: absolute;
        background: $off-white;
        }
        h5{
        top: 25px;
        left: 20px;
        position: absolute;
        }
        p{
        top:55px;
        left: 20px;
        position: absolute;
        }
      }
      .images-right{
        height: 380px;
        width: 600px;
        right: 200px;
        top:600px;
        position: absolute;
      }
      .box-left{
        height: 230px;
        width: 500px;
        right: 355px;
        top: 45px;
        border-radius: 20px;
        border: 2px solid #8560a8;
        position: absolute;
        background: $off-white;
        }
        h5{
          top: 25px;
          left: 20px;
          position: absolute;
          }
          p{
          top:55px;
          left: 20px;
          position: absolute;
          }
    }

    @media screen and (max-width:996px){
      .skills{
        padding: 80px 0px;
        .title{
          .purple-box{
            height: 7px;
            width: 70px;
            margin: 0 auto;
          }
          }
          .images-left{
            height: 300px;
            width: 520px;
            left: 100px;
            top:190px;
            .box-right{
            height: 200px;
            width: 470px;
            left: 350px;
            top: 45px;
            border-radius: 20px;
            }
            h5{
            top: 25px;
            left: 20px;
            }
            p{
            top:55px;
            left: 20px;
            font-size: 15px;
            }
          }
          .images-right{
            height: 300px;
            width: 520px;
            right: 100px;
            top:600px;
          }
          .box-left{
            height: 200px;
            width: 470px;
            right: 300px;
            top: 45px;
            border-radius: 20px;
            }
            h5{
              top: 25px;
              left: 20px;
              }
              p{
              top:55px;
              left: 20px;
              font-size: 15px;
              }
        }
    }
    @media screen and (max-width:768px){
      .skills{
        .title{
          h1{
            font-size: 2rem;
          }
          .purple-box{
            height: 7px;
            width: 70px;
            margin: 0 auto;
          }
          }
          .images-left{
            height: 260px;
            width: 480px;
            top:190px;
            .box-right{
            height:200px;
            width: 420px;
            left: 190px;
            top: 30px;
            border-radius: 20px;
            }
            h5{
            top: 25px;
            left: 20px;
            }
            p{
            top:55px;
            left: 20px;
            font-size: 10px;
            }
          }
          .images-right{
            height: 260px;
            width: 480px;
            top:600px;
          }
          .box-left{
            height: 200px;
            width: 420px;
            right: 190px;
            top: 40px;
            border-radius: 20px;
            }
            h5{
              top: 25px;
              left: 20px;
              }
              p{
              top:55px;
              left: 20px;
              font-size: 10px;
              }
        }
    }
    @media screen and (max-width:512px){
      .skills{
        padding: 0 0;
        min-height: 200px;
        .title{
          h1{
            font-size: 1.75rem;
          }
          .purple-box{
            height: 7px;
            width: 70px;
            margin: 0 auto;
          }
          }
          .images-left{
            height: 200px;
            width: 420px;
            top:115px;
            left: 20px;
            .box-right{
            height:180px;
            width: 380px;
            left: 100px;
            top: 25px;
            border-radius: 20px;
            }
            h5{
            top: 20px;
            left: 20px;
            }
            p{
            top:45px;
            left: 20px;
            font-size: 10px;
            }
          }
          .images-right{
            height: 200px;
            width: 420px;
            top:420px;
            right: 20px;
          }
          .box-left{
            height: 180px;
            width: 380px;
            right: 100px;
            top: 40px;
            border-radius: 20px;
            }
            h5{
              top: 20px;
              left: 20px;
              }
              p{
              top:45px;
              left: 20px;
              font-size: 10px;
              }
        }
    }