@import "../../styles/styles.scss";

.about{
    padding: 140px 0px;
    min-height: 600px;
    background: $white;
    position: relative;
    .title{
      text-align: center;
      color: $black;
      .purple-box{
        height: 7px;
        width: 150px;
        background: $purple;
        left: 590px;
        top: 196px;
        margin: 0 auto;
      }
      }
      .content{
        width: 100%;
        position: absolute;
        padding: 0 200px;
        .icon{
          position: absolute;
          font-size: 30px;
          color: $purple;
        }
        .icon-padding{
          padding: 10px 0;
        }
        p{
          font-size: 1rem;
          line-height: 2rem;
          font-weight: 300;
          margin: 0px 60px;
          line-height: 50px;
        }
      }
  }
  @media screen and (max-width:996px){
    .about{
      padding: 140px 0px;
      min-height: 500px;
      .title{
        .purple-box{
          height: 7px;
          width: 70px;
          margin: 0 auto;
        }
        }
        .content{
          width: 100%;
          .icon{
            font-size: 30px;
          }
          .icon-padding{
            padding: 10px 0;
          }
          p{
            font-size: 1rem;
            line-height: 2rem;
            font-weight: 300;
            margin: 0px 60px;
            line-height: 52px;
          }
        }
    }
  }
  @media screen and (max-width:768px){
    .about{
      padding: 140px 0px;
      min-height: 500px;
      .title{
        h1{
          font-size: 2rem;
        }
        .purple-box{
          height: 7px;
          width: 70px;
          // left: 626px;
          // top: 110px;
          margin: 0 auto;
        }
        }
        .content{
          width: 100%;
          .icon{
            font-size: 30px;
          }
          .icon-padding{
            padding: 10px 0;
          }
          p{
            font-size: 1rem;
            line-height: 2rem;
            font-weight: 300;
            margin: 0px 60px;
            line-height: 52px;
          }
        }
    }
  }
  @media screen and (max-width:512px){
    .about{
      padding: 140px 0px;
      min-height: 500px;
      .title{
        h1{
          font-size: 1.75rem;
        }
        .purple-box{
          height: 7px;
          width: 70px;
          margin: 0 auto;
        }
        }
        .content{
          width: 100%;
          .icon{
            font-size: 20px;
          }
          .icon-padding{
            padding: 7px 0;
          }
          p{
            font-size: 0.5rem;
            line-height: 1rem;
            font-weight: 300;
            margin: 0 30px;
          }
        }
    }
  }