@import "../../styles/styles.scss";

.about{
    padding: 140px 0px;
    min-height: 500px;
    background: $white;
    position: relative;
    .title{
      text-align: center;
      color: $black;
      .purple-box{
        height: 7px;
        width: 150px;
        background: $purple;
        //position: absolute;
        left: 590px;
        top: 196px;
        margin: 0 auto;
      }
      }
      .content{
        width: 33%;
        position: absolute;
        padding: 0 200px;
        @media(max-width:1440px){
          width: 100%;
        }
        .icon{
          position: absolute;
          font-size: 30px;
          color: $purple;
        }
        .icon-padding{
          padding: 10px 0;
        }
        p{
          font-size: 1rem;
          line-height: 2rem;
          font-weight: 300;
          margin: 0px 60px;
          line-height: 52px;
        }
      }
  }