@import "../../styles/styles.scss";

.footer{
    background: $black;
    min-height: 100px;
    width: 100%;
    .container{
    position: relative;
     top: 30px;
    }
    .icon{
      text-align: center;
      font-size: 20px;
      color: $white;
    }
    .icon-padding{
      padding: 0 5px;
    }
    p{
      text-align: center;
      color: $white;
      
    }
  }